@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "idvacc";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(20% 0 0);
  --color-base-300: oklch(26% 0 0);
  --color-base-content: oklch(97% 0 0);
  --color-primary: oklch(70% 0.165 254.624);
  --color-primary-content: oklch(28% 0.066 53.813);
  --color-secondary: oklch(80% 0.105 251.813);
  --color-secondary-content: oklch(28% 0.091 267.935);
  --color-accent: oklch(85% 0.138 181.071);
  --color-accent-content: oklch(27% 0.046 192.524);
  --color-neutral: oklch(14% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}
